# mode5.cfg
BASE TSN
# Mode5 Mixed Traffic + TSN + FRER
# Read / Update PTP Time
# TSN Enable Configuration- FRER enable
# address      value
# Preemption enable/disable
0x000    0x00
#Gate enable & configuration disable
0x024    0x08
# Cycle time
0x060    0x17D7840
#Base time register -ns -ns (should be configured as the current PTP + offset)
0x070    0x2335AEC8
#Base time register -s0 --ns (should be configured as the current PTP + offset)
0x074    0x00000C89
#Base time register -s1 -ns (should be configured as the current PTP + offset)
0x078    0x00000000
# Initial gate states
0x080    0x80
# Control list length
0x084    0x04
#GCL Set -0
0x08C    0x015F5E10
#GCL Set -1
0x090    0x025F5E10
#GCL set -2
0x094    0x04320E10
#GCL set -3
0x098    0x805F5E10
# Stream ID 1 -Q1
0x17C    0x44332211
0x180    0x90026655
0x184    0x02
# Stream ID 1 -Q2
0x194    0xAA998877
0x198    0x2001CCBB
0x19C    0x02
# FRER Enable
0x160    0x41
#enable Configuration enable
0x024    0x0C
delay 1000
