# mode3.cfg
BASE TSN
# Mode3 - Mixed Traffic (Normal + Critical)
#TSN Disable
# Preemption enable/disable
0x000    0x00
# GCL enable/ disable and Configuration enable/Disable
0x024    0x00
# Cycle time in ns
0x060    0x00
# Base time start in ns
0x070    0x00
# Base time start in s - part0
0x074    0x00
# Base time start in s - part1
0x078    0x00
# Initial gate states
0x080    0xFF
# Control list length
0x084    0x00
# Scheduler Gate Control List [0] Entry Register
0x08C    0x00
# Scheduler Gate Control List [1] Entry Register
0x090    0x00
# Scheduler Gate Control List [2] Entry Register
0x094    0x00
# Scheduler Gate Control List [3] Entry Register
0x098    0x00
# FRER enable / Disable
0x160    0x00
#Normal traffic
# Stream ID-1_Q1 DA[31:0]
0x17C    0x44332211
# Stream ID-1_Q1 FRER, PCP, VID, DA[15:32]
0x180    0x10016655
# Stream ID-1_Q1 PCP, VID, DA mask registers
0x184    0x02
#Motor traffic
# Stream ID-1_Q2 DA[31:0]
0x194    0xAA998877
# Stream ID-1_Q2 FRER, PCP, VID, DA[15:32]
0x198    0x2002CCBB
# Stream ID-1_Q2 FRER, PCP, VID, DA[15:32]
0x19C    0x02
