# mode0.cfg - Disable everything
BASE TSN

# Preemption enable/disable
0x000    0x00
# GCL enable/disable and Configuration enable/disable
0x024    0x00
# Cycle time in ns
0x060    0x00
# Base time start in ns
0x070    0x00
# Base time start in s - part0
0x074    0x00
# Base time start in s - part1
0x078    0x00
# Initial gate states
0x080    0xFF
# Control list length
0x084    0x00
# Scheduler GCL [0] Entry
0x08C    0x00
# Scheduler GCL [1] Entry
0x090    0x00
# Scheduler GCL [2] Entry
0x094    0x00
# Scheduler GCL [3] Entry
0x098    0x00
# FRER enable/disable
0x160    0x00

# Normal traffic - Stream ID-1_Q1
0x17C    0x44332211
0x180    0x10016655
0x184    0x02

# Motor traffic - Stream ID-1_Q2
0x194    0xAA998877
0x198    0x2002CCBB
0x19C    0x02
