# Motor Control IIO Drivers
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=m
CONFIG_IIO_MPFS_MC_ADC=m
CONFIG_IIO_MPFS_MC_PICON=m
CONFIG_IIO_MPFS_MC_PWM=m
CONFIG_IIO_MPFS_MC_RATELIM=m
CONFIG_IIO_MPFS_MC_SQMNG=m
CONFIG_IIO_MPFS_MC_STPTHETA=m
